@import "tailwindcss";

:root {
  --primary: #0f4fa8;
  --secondary: #f97316;
  --dark: #111827;
  --gray: #f8fafc;
}

body {
  background: white;
  color: var(--dark);
  font-family: var(--font-inter);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-heading);
}